discobot.json
[{"id":"e038c780.2ba7d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"295fd89c.5b3fd","type":"data-river-subscribe","z":"e038c780.2ba7d","name":"DetectionBox_Reader","contextid":"test","context":"com.adlinktech.device","version":"v1.0","description":"why","scanrate":"500","inputname":"stuffiwannaread","server":"8ee3236d.204dd8","x":160,"y":300,"wires":[["9d87379f.3c3338","db639182.a85a08"]]},{"id":"f68fcb1b.78979","type":"switch","z":"e038c780.2ba7d","name":"Contents switch","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"person","vt":"str"},{"t":"cont","v":"dog","vt":"str"},{"t":"cont","v":"fire hydrant","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":640,"y":300,"wires":[["42ad1db5.0f5fd4"],["5aeb45e8.e47fc4"],[]]},{"id":"9d87379f.3c3338","type":"function","z":"e038c780.2ba7d","name":"Extract Inferenced Objects","func":"// Get only the detection boxes from the message\nlet detectionBoxes = msg.payload.data;\n\n// Get an array of object labels from the detection boxes\nlet detectedObjects = []\ndetectionBoxes.forEach(detectionBox =>\n    detectedObjects.push(detectionBox.obj_label)\n);\n\n// Update msg.payload\nmsg.payload = detectedObjects;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["39070913.d9c59e","f68fcb1b.78979"]]},{"id":"31d910d6.a6b02","type":"function","z":"e038c780.2ba7d","name":"Report a person","func":"msg.payload = \"Disco\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":180,"wires":[["fd1493ca.70125","538a03f1.5facdc"]]},{"id":"538a03f1.5facdc","type":"debug","z":"e038c780.2ba7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":340,"wires":[]},{"id":"39070913.d9c59e","type":"debug","z":"e038c780.2ba7d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"fd1493ca.70125","type":"mqtt out","z":"e038c780.2ba7d","name":"disco","topic":"control","qos":"","retain":"","broker":"f0075c61.77f968","x":1250,"y":180,"wires":[]},{"id":"42ad1db5.0f5fd4","type":"delay","z":"e038c780.2ba7d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":840,"y":260,"wires":[["31d910d6.a6b02"]]},{"id":"db639182.a85a08","type":"debug","z":"e038c780.2ba7d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":120,"wires":[]},{"id":"f5e3189a.34d7d8","type":"function","z":"e038c780.2ba7d","name":"Report a Dog","func":"msg.payload = \"Dog\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":340,"wires":[["538a03f1.5facdc","fd1493ca.70125"]]},{"id":"5aeb45e8.e47fc4","type":"delay","z":"e038c780.2ba7d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":840,"y":320,"wires":[["f5e3189a.34d7d8"]]},{"id":"8ee3236d.204dd8","type":"tagGroup-server-subscribe","z":"","name":"DetectionBox","context":"com.vision.data","version":"*"},{"id":"f0075c61.77f968","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.81","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
